# EJERCICIO EDA

## PASO 1

**1. Cargar los datos mediante Pandas**

---

Con este código se cargan los datos mediante la URL, se cargan en un dataFrame y mostramos los primeros datos.

In [27]:
import pandas as pd
import numpy as np

print(pd.__version__)

url = "https://raw.githubusercontent.com/bigdatadatafan/datasets-clase/main/car_fuel_efficiency.csv"
df_efficiency = pd.read_csv(url)

df_efficiency.head()

2.3.3

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

## PASO 2

**2. Ver la cantidad de filas que hay en el df.**

---

Utilizamos 'len' para obtener la cantidad de filas. En este caso la respuesta correcta es **9704**.

In [4]:
len(df_efficiency)

9704

## PASO 3

**3. Obtener la cantidad de tipos de gasolina**

---

Obtenemos la cantidad distinta de tipos de gasolina que hay. Además obtenemos cuáles son. En este caso la respuesta correcta es **2**.

In [5]:
# Obtener la cantidad.
df_efficiency["fuel_type"].nunique()

2

In [6]:
# Obtener los nombres de dichos valores.
df_efficiency["fuel_type"].value_counts()

fuel_type
Gasoline    4898
Diesel      4806
Name: count, dtype: int64

## PASO 4

**4. Calcular la cantidad de columnas con valores perdidos (null)**

---

Utilizamos 2 métodos aunque realmente no hay diferencia funcional entre ellos. La repuesta correcta en este caso es **4**.

In [7]:
# Obtener la cantidad de valores perdidos en cada columna.
# Opción 1.
df_efficiency.isnull().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

In [8]:
# Obtener la cantidad de valores perdidos en cada columna.
# Opción 2.
df_efficiency.isna().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

In [9]:
# Obtener la cantidad de columnas con valores perdidos.
# Opción 1.
df_efficiency.isnull().any().sum()

np.int64(4)

In [10]:
# Obtener la cantidad de columnas con valores perdidos.
# Opción 2.
df_efficiency.isna().any().sum()

np.int64(4)

## PASO 5

**5. Obtener el máximo de eficiencia de combustible de Asia**

---

Se crea un dataFrame con solo los datos de Asia y luego se calcula el máximo de la columna relativa a la pregunta. La respuesta correcta es **23.759122836520497**.

In [11]:
df_asia = df_efficiency[df_efficiency["origin"] == "Asia"]

In [12]:
df_asia["fuel_efficiency_mpg"].max()

np.float64(23.759122836520497)

## PASO 6

**6. Obtener el valor medio de caballos de potencia**

---

* Encontrar el valor medio. Media: **149.65729212983547**. Mediana: **149.0**
* Encontrar el valor más frecuente. **152.0**. *Realmente tendría más sentido rellenarlo con la media para no desvirtualizar los datos*.
* Utilizar fillna para llenar los valores vacíos por el valor más frecuente.
* Calcular de nuevo el valor total. **149.82821516900248**. Mediana: **152.0**

La respuesta correcta es que ha **aumentado**.

In [13]:
# Encontrar el valor medio.
df_efficiency["horsepower"].mean()

np.float64(149.65729212983547)

In [14]:
# Encontrar el valor más frecuente.
common_value = df_efficiency["horsepower"].mode()[0]
common_value

np.float64(152.0)

In [15]:
# Utilizar fillna para llenar los valores vacíos con el más frecuente.
# inplace = True para cambiarlo directamente sobre el DataFrame.
# df_efficiency.fillna({"horsepower": common_value}, inplace=True)

df_efficiency["horsepower"] = df_efficiency["horsepower"].fillna(common_value)

In [16]:
# Comprobamos que lo esté cambiando.
df_efficiency.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,152.0,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [17]:
# Encontrar el valor medio.
df_efficiency["horsepower"].median()

np.float64(152.0)

## PASO 7

**7. SUMA DE PESOS/CANTIDADES**

---

1.   Seleccionar todos los coches de Asia.
2.   Seleccionar solo las columnas de 'vehicle_weight' y 'model_year'.
3.   Seleccionar los 7 primeros valores.
4.   Obtener el array subyacente. *Llamar x a dicho array*.
5.   Multiplicar *x* por la traspuesta de *x*, *t*. El resultado debe ser *xtx*.
6.   Invertir *xtx*.
7.   Crear un array *y* con los valores: [1100, 1300, 800, 900, 1000, 1100, 1200].
8.   Multiplicar a la inversa con la traspuesta de *x* y multiplicar el resultado por *y*. Llamar al resultado *w*.
9.   Obtener la suma de los elementos del resultado.

In [18]:
# Obtener los coches de asia.
df_asia_cars = df_efficiency[df_efficiency["origin"] == "Asia"]

In [19]:
# Seleccionar las columnas "vehicle_weight" y "model_year".
df_columnns_selected = df_asia_cars[['vehicle_weight', "model_year"]]

In [20]:
# Seleccionar solo los 7 primeros valores y llamarle x.
x = df_columnns_selected.iloc[0:7]

In [21]:
# Obtenemos la traspuesta y la multiplicamos por la original.
xtx = x.T @ x

In [22]:
# Invertimos xtx.
xtx_inv = np.linalg.inv(xtx)

In [23]:
# Creamos un array 'y' con algunos valores.
y = [1100, 1300, 800, 900, 1000, 1100, 1200]

In [24]:
# Multiplicación de la inversa de xtx con la traspuesta de x.
xtx_op = xtx_inv @ x.T
w = xtx_op @ y
w

0    0.013864
1    0.504907
dtype: float64

In [26]:
# Obtener la suma de los elementos del resultado.
suma = w[0] + w[1]
suma

np.float64(0.5187709081074017)